.places {
    max-width: 984px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    display: grid;
    gap: 80px;
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 100%;
        gap: 50px;
    }
}