.cover {
    max-width: 1184px;
    padding: 92px 0 92px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        padding: 92px 0 92px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        padding: 90px 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 100%;
        padding: 66px 0 64px;
    }
}